@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .hero .swiper {
    width: 66% !important;
    height: auto !important;
    margin: 0 !important;
  }

  .hero .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .hero .swiper-pagination {
    left: 0 !important;
    bottom: -1rem !important;
  }

  .hero .swiper-wrapper {
    width: 0 !important;
  }

  .gallery-item-1,
  .gallery-item-2,
  .gallery-item-3,
  .gallery-item-4,
  .gallery-item-5 {
    width: 100% !important;
    height: 35rem !important;
    border-radius: 35px !important;
  }

  .gallery-controls {
    margin: 7rem 0 30px 0 !important;
  }

  .fas::before {
    font-size: 24px !important;
  }

  .fas.fas-xs::before {
    font-size: 13px !important;
  }

  .swiper-pagination-bullet {
    width: auto !important;
    height: auto !important;
  }

  .owl-nav,
  .owl-dots {
    display: none !important;
  }

  @media (min-width: 640px) {
    .swiper-pagination {
      left: -1rem !important;
      bottom: -1rem !important;
    }
  }

  @media (min-width: 768px) {
    .hero .swiper {
      width: 65% !important;
    }

    .swiper-pagination {
      bottom: -0.5rem !important;
      left: 0rem !important;
    }
  }

  @media (min-width: 1280px) {
    .swiper-pagination {
      bottom: 0.5rem !important;
      left: 0rem !important;
    }
  }
}
