@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .swiper {
    width: 100% !important;
    height: 100vh !important;
  }

  .swiper-slide {
    text-align: center !important;
    font-size: 18px !important;
    background: #fff !important;
    width: 500px !important;

    /* Center slide text vertically */
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-align-items: center !important;
    align-items: center !important;
  }

  .swiper-slide img {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }
}